/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2016, 5:17:05 PM
    Author     : Chris
*/

$body-bg: #1F1B1D; /*#6C0044; /* #AD1B77; */
$text-color: #9CD121;
$text-color-dark: #7AA70F;
$complimentary: #AD1B77;